# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
*.whl
*.so

# Environnement virtuel
venv/
.venv/
env/

# IDE / Éditeurs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Projet
*.ods
*.docx
*.png
*.xlsx
